.mediaViewInfo {
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#login {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Imagen_1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Star_Wars_The_Jedi_and_The_Sit {
	left: 238px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 1445px;
	white-space: nowrap;
	text-align: left;
	font-family: Star Jedi;
	font-style: normal;
	font-weight: normal;
	font-size: 76px;
	color: rgba(255,255,255,1);
}
#Grupo_1 {
	position: absolute;
	width: 666px;
	height: 522px;
	left: 629px;
	top: 348px;
	overflow: visible;
}
#Rectngulo_2 {
	fill: rgba(46,46,46,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2 {
	position: absolute;
	overflow: visible;
	width: 666px;
	height: 522px;
	left: 0px;
	top: 0px;
}
#Rectngulo_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3 {
	position: absolute;
	overflow: visible;
	width: 575px;
	height: 44px;
	left: 41px;
	top: 107px;
}
#Rectngulo_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_4 {
	position: absolute;
	overflow: visible;
	width: 575px;
	height: 46px;
	left: 41px;
	top: 234px;
}
#Correo {
	left: 41px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Star Jedi;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Contrasea {
	left: 37px;
	top: 188px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: left;
	font-family: Star Jedi;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Dark___Button_3_Contained_A_Te {
	position: absolute;
	width: 148px;
	height: 55px;
	left: 257px;
	top: 335px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
#Container {
	position: absolute;
	width: 148px;
	height: 55px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#__Color {
	opacity: 0;
	fill: rgba(242,167,18,1);
}
.__Color {
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#StatesDark_Primary_containersO {
	position: absolute;
	width: 148px;
	height: 55px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Primary {
	fill: rgba(18,152,242,1);
}
.Primary {
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#States {
	fill: rgba(18,152,242,1);
}
.States {
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#Pressed {
	fill: rgba(255,255,255,0.102);
}
.Pressed {
	display: none;
	overflow: visible;
	position: absolute;
	width: 48px;
	height: 55px;
	left: 50px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__Label {
	left: 16px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Star Jedi;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
	text-transform: uppercase;
}
#Recuperar_contrasea {
	left: 41px;
	top: 288px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(47,158,243,1);
	letter-spacing: 0.89px;
}
#Dark___Button_3_Contained_A_Te_ {
	position: absolute;
	width: 130px;
	height: 55px;
	left: 266px;
	top: 416px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Registro.html;
	cursor: pointer;
}
#Container_ {
	position: absolute;
	width: 130px;
	height: 55px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#__Color_ {
	opacity: 0;
	fill: rgba(242,167,18,1);
}
.__Color_ {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#StatesDark_Primary_containersO_ {
	position: absolute;
	width: 130px;
	height: 55px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Primary_ {
	fill: rgba(49,226,49,1);
}
.Primary_ {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#States_ba {
	fill: rgba(49,226,49,1);
}
.States_ba {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#Pressed_bb {
	fill: rgba(255,255,255,0.102);
}
.Pressed_bb {
	display: none;
	overflow: visible;
	position: absolute;
	width: 48px;
	height: 55px;
	left: 41px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__Label_bc {
	left: 16px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Star Jedi;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
	text-transform: uppercase;
}
#Login_bd {
	left: 909px;
	top: 355px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Star Jedi;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
