.container-fluid {
  color: white;
  margin-top: 5%;
}

.caption-nombre {
  font-size: 20px;
}

.example-header-image {
  width: 45px; /* width of container */
  height: 45px; /* height of container */
  object-fit: cover;
}

.header-card {
  margin-left: 5px;
}

.cropped {
  width: 1000px; /* width of container */
  height: 800px; /* height of container */
  object-fit: cover;
  border: 5px solid black;
}

.col-category {
  border-bottom: 1px solid !important;
  border-right: 1px solid !important;
  border-color: white !important;
}


.col-lightsaber {
  border-bottom: 1px solid !important;
  border-left: 1px solid !important;
  border-color: white !important;
}

.col-species {
  border-bottom: 1px solid !important;
  border-right: 1px solid !important;
  border-top: 1px solid !important;
  border-color: white !important;
}

.col-gender {
  border-bottom: 1px solid !important;
  border-top: 1px solid !important;
  border-left: 1px solid !important;
  border-color: white !important;
}

.col-weight {
  border-top: 1px solid !important;
  border-right: 1px solid !important;
  border-color: white !important;
}

.col-height {
  border-top: 1px solid !important;
  border-left: 1px solid !important;
  border-color: white !important;
}

.content-card {
  margin: 20px;
  font-size: large;
}