<mat-toolbar class="navbar">
  <div text-wrap>Star Wars Cards</div>
  <button mat-icon-button (click)="navigateHome()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateProfile()">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid px-5">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img
          *ngIf="character.category === 'Jedi'"
          mat-card-image
          src="https://raw.githubusercontent.com/joseherrera7/star-wars/master/src/assets/images/jedi-logo.png"
          class="px-2 py-2"
          alt="Logo"
        />
        <img
          *ngIf="character.category === 'Sith'"
          mat-card-image
          src="https://raw.githubusercontent.com/joseherrera7/star-wars/master/src/assets/images/sith-logo.png"
          class="px-2 py-2"
          alt="Logo"
        />
      </div>
      <mat-card-title class="px-2">{{ character.name }}</mat-card-title>
      <mat-card-subtitle class="px-2">{{
        character.description
      }}</mat-card-subtitle>
    </mat-card-header>
    <div class="text-center">
      <img
        class="cropped img-fluid"
        mat-card-image
        [src]="character.img"
        alt="image character"
      />
    </div>
    <mat-card-actions class="text-right">
      <button mat-button (click)="goEdit(character)"><mat-icon>mode_edit</mat-icon></button>
      <button mat-button (click)="deleteItem()"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
    <mat-card-content class="content-card">
      <div class="row">
        <div class="col col-category">Category: {{ character.category }}</div>
        <div class="col col-lightsaber">Lightsaber Color: {{ character.lightsaberColor }}</div>
      </div>
      <div class="row">
        <div class="col col-species">Species: {{ character.species }}</div>
        <div class="col col-gender">Gender: {{ character.gender }}</div>
      </div>
      <div class="row">
        <div class="col col-weight">Weight: {{ character.weight }} pounds</div>
        <div class="col col-height">Height: {{ character.height }} cms</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
