<mat-toolbar class="navbar">
  <div text-wrap>Star Wars</div>
  <button mat-icon-button (click)="navigateHome()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateProfile()">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid px-5" >
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{character.name}}</mat-card-title>
      <mat-card-subtitle>{{character.description}}</mat-card-subtitle>
    </mat-card-header>
    <div class="text-center">
      <img mat-card-image [src]="character.img" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-actions class="text-right">
      <button mat-button><mat-icon>mode_edit</mat-icon>

        </button>
      <button mat-button><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
    <mat-card-content>
      <div class="row ">
        <div class="col">
          Categoria: {{character.category}}
        </div>
        <div class="col">
         Color de sable: {{character.lightsaberColor}}
        </div>
      </div>
      <div class="row ">
        <div class="col">
          Especie: {{character.species}}
        </div>
        <div class="col">
          Género: {{character.gender}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Peso: {{character.weight}} lbs
        </div>
        <div class="col">
          Altura: {{character.height}} cm
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
