.container-fluid {
  color: white;
  margin-top: 5%;
}

.caption-nombre {
  font-size: 20px;
}

img {
  width:540px; /* you can use % */
  height: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
