<mat-toolbar color="primary" class="navbar">
  <div text-wrap>Star Wars</div>
  <button mat-icon-button (click)="navigateHome()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateProfile()">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()")>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list  cols="4" style="margin: 5%;">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    <mat-card style="width: 100%; height: 100%;">
      <mat-card-title>{{tile.text}}</mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
